h1 {
  font-family: 'Poiret One', cursive;
  font-size: 32px;
  color: #FFFFFF;
  text-align: center;
}
h2 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 28px;
  color: #00008b;
  background-color: #FFFFFF;
}
p {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
  color: #ff0000;
}
a {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
  color: #00008b;
  border-color: #00008b;
}
img {
  /*border-left-width: 1.49999997px;*/
  /*border-right-width: 1.49999997px;*/
  /*border-bottom-width: 1.49999997px;*/
  /*border-top-width: 1.49999997px;*/
  border: 1px;
  border-style: solid;
  border-color: #ff0000;
}

/* mouse over link */
img:hover {
    border-color: #00008b;
    border-style: solid;
    border: 2px
}

h4 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14px;
  color: #00008b;
  background-color: #FFFFFF;
}
ul {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 13px;
  color: #ff0000;
}
body {
  background-color: #c4e3ff;
}
