* {
  margin: 0px;
  padding: 0px;
}
#logo {
  position: fixed;
  top: 10px;
  width: 100px;
  height: 100px;
  border: 1px;
  border-style: solid;
  /*border-color: #aa0000;*/
}
#logo:hover {
  /*border-color: #00008b;*/
  border-style: solid;
}
#wrapper {
  margin-left: 110px;
}

h1 {
  padding: 20px;
  font-family: 'Poiret One', cursive;
  font-size: 32px;
  /*color: #FFFFFF;*/
  text-align: right;
  /*background-color: #0054a3;*/
}
h2 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 26px;
  /*color: #00008b;*/
  /*background-color: #FFFFFF;*/
}
p {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
  /*color: #ff0000;*/
}
a {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
  /*color: #00008b;*/
  /*border-color: #00008b;*/
}
/*img {
  /*border-left-width: 1.49999997px;*/
  /*border-right-width: 1.49999997px;*/
  /*border-bottom-width: 1.49999997px;*/
  /*border-top-width: 1.49999997px;*/
  border: 1px;
  border-style: solid;
  /*border-color: #aa0000;*/
}

/* mouse over link */
img:hover {
    /*border-color: #00008b;*/
    border-style: solid;
    /*border: 1px*/
}*/

h4 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14px;
  /*color: #00008b;*/
  /*background-color: #FFFFFF;*/
}
ul {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 13px;
  /*color: #ff0000;*/
}
body {
  /*background-color: #FFFFFF;*/
}
header {
  /*background-color: #0054a3;*/
}
#Navigation {
  /*background-color: #aa0000;*/
  padding: 5px;
}
#Navigation ul li {
  margin-top: -20px;
  display: inline-flex;
  margin-right: 40px;
  font-family: 'Poiret One', cursive;
  font-size: 16px;
  /*color: #FFFFFF;*/
  text-align: left;
}
#Navigation ul li a {
  /*color: #FFFFFF;*/
  font-family: 'Poiret One', cursive;
  font-size: 16px;
  text-align: left;
}
#Main-Article-Content {
  margin: auto;
  width: 50%;
  padding: 10px;
}
#Main-Page-Photo {
  border: 1px;
  border-style: solid;
  /*border-color: #aa0000;*/
  height: 400px;
  width: 600px;
}
#Main-Page-Photo:hover {
  /*border-color: #00008b;*/
  border-style: solid;
}
#top-line {
  padding: 10px;
}
